html,
body {
  height: 100%;
  background: #435677;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 50px 0 !important;
  color: #fff !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
h5 {
  color: rgb(149, 151, 28);
  font-size: 150%;
  font-weight: bold;
}
.modal-title {
  color: #000 !important;
}
.box {
  margin-top: 60px;
  margin-bottom: 250px;
  color: #fff;
}
.box-c {
  margin-bottom: 200px;
  color: #fff;
}
.figure {
  height: 100% !important;
  background: #1f2227 !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
}
.cylinder {
  margin-top: 50px;
  width: 100% !important;
  height: 100% !important;
  perspective: 900px !important;
}

.frame {
  position: relative !important;
  top: 100px !important;
  left: 60% !important;
  width: 23px !important;
  transform-style: preserve-3d !important; /* translate must be last */
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg) !important;
  cursor: pointer !important;
}
.frame :hover .strips {
  transform: scale(1.5) !important;
}
.strips {
  transform-style: preserve-3d !important;
  transition: all 420ms !important;
}

.strips > div {
  position: absolute !important;
  top: -60px !important;
  left: -12px !important;
  margin-top: -10px !important;
  background: rgb(45, 68, 68) !important;
  border: solid rgb(131, 105, 33) !important;
  border-width: 5px 0 !important;
  height: 100px !important;
  width: 22px !important;
  opacity: 1 !important;
  transition: all 420ms !important;
  animation: adjustColors 5s infinite ease-in-out !important;
}

.strip-1 {
  transform: rotateY(0deg) translateZ(85px);
}
.strip-2 {
  transform: rotateY(15deg) translateZ(85px);
}
.strip-3 {
  transform: rotateY(30deg) translateZ(85px);
}
.strip-4 {
  transform: rotateY(45deg) translateZ(85px);
}
.strip-5 {
  transform: rotateY(60deg) translateZ(85px);
}
.strip-6 {
  transform: rotateY(75deg) translateZ(85px);
}
.strip-7 {
  transform: rotateY(90deg) translateZ(85px);
}
.strip-8 {
  transform: rotateY(105deg) translateZ(85px);
}
.strip-9 {
  transform: rotateY(120deg) translateZ(85px);
}
.strip-10 {
  transform: rotateY(135deg) translateZ(85px);
}
.strip-11 {
  transform: rotateY(150deg) translateZ(85px);
}
.strip-12 {
  transform: rotateY(165deg) translateZ(85px);
}
.strip-13 {
  transform: rotateY(180deg) translateZ(85px);
}
.strip-14 {
  transform: rotateY(195deg) translateZ(85px);
}
.strip-15 {
  transform: rotateY(210deg) translateZ(85px);
}
.strip-16 {
  transform: rotateY(225deg) translateZ(85px);
}
.strip-17 {
  transform: rotateY(240deg) translateZ(85px);
}
.strip-18 {
  transform: rotateY(255deg) translateZ(85px);
}
.strip-19 {
  transform: rotateY(270deg) translateZ(85px);
}
.strip-20 {
  transform: rotateY(285deg) translateZ(85px);
}
.strip-21 {
  transform: rotateY(300deg) translateZ(85px);
}
.strip-22 {
  transform: rotateY(315deg) translateZ(85px);
}
.strip-23 {
  transform: rotateY(330deg) translateZ(85px);
}
.strip-24 {
  transform: rotateY(345deg) translateZ(85px);
}
.cube {
  position: relative;
  width: 95px;
  margin-left: 70px;
  cursor: pointer !important;
}
.side {
  height: 85px;
  line-height: 85px;
  position: absolute;
  text-align: center;
  width: 85px;
}
.top {
  background: rgb(153, 121, 84) !important;
  border: solid rgb(63, 57, 24) !important;
  transform: rotate(-45deg) skew(15deg, 15deg);
}
.left {
  background: rgb(153, 121, 84) !important;
  border: solid rgb(63, 57, 24) !important;
  transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
}
.right {
  background: rgb(153, 121, 84) !important;
  border: solid rgb(63, 57, 24) !important;
  transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
}
.btn {
  border: 1px solid rgb(0, 0, 0);
  color: #fff;
}
.btn:hover {
  background-color: #1c6316b4 !important;
}
.modal-header {
  border-bottom: none;
}
.modal-body {
  border-top: solid 1px rgba(0, 0, 0, 0.295);
  border-bottom: solid 1px rgba(0, 0, 0, 0.295);
}
.modal-footer {
  border-top: none;
}
input {
  color: #000;
}
